<a routerLink="/quotes/index" >quotes</a>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <div class="form-group">
      <label >Content</label>
      <input [(ngModel)]="content"  #ctrl="ngModel" name="content"  [class.is-invalid]="ctrl.invalid && ctrl.touched"  required class="form-control" id="content">
      <small class="text-danger" [class.d-none]="ctrl.valid || ctrl.untouched">Name is required</small>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="f.form.invalid">Submit</button>
    <br>
</form>

