form{
    border-radius: 5px;
    background-color: #ff5050;
    padding: 50px 20px 50px 20px;
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    width:500px;
}
input.ng-untouched,input.ng-valid{
    border-color: antiquewhite; 
}
input.ng-invalid{
    color: red;
}
label{
    margin-left: 20%;
    transform: translateX(-50%);
}
input{
    /* margin-left: 20%;
    transform: translateX(-50%); */
    padding-top: 5px; 
    padding-bottom: 5px; 
}
button{
    margin-left: 50%;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: cornsilk;
    color: #ff5050;
    font-size: large;
    transform: translateX(-50%);
}

a{
    margin-left: 20px;
}
