  
<div class="Quote">
    <div class="Quote-body">
      {{ quote.content }}
    </div>
    <div class="Quote-footer">
        <input *ngIf="editing" type="text" [(ngModel)]="editValue">
      <div *ngIf="editing">
        <button class="btn" (click)="onUpdate()"> Save</button>
        <button class="btn" (click)="onCancel()"> Cancel</button>
      </div>
    </div>
    <div *ngIf="!editing">
        <button class="btn" (click)="onEdit()"> Edit</button>
        <button class="btn" (click)="onDelete()"> Delete</button>
      </div>
  </div>
  