/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */


@import "~bootstrap/scss/bootstrap";
body { margin: 0; font-family: Heebo; }
.success{
    background-color: black;
    color: greenyellow;
}
.error{
    background-color: black;
    color: red;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 

 


 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 
 button:hover{
     cursor: pointer;
 }
 .count::before {
     content:"";
     width: 15px;
     height: 15px;
     background: red; 
     border-radius: 70px;
     display: block;
     position: relative;
     top: -27px;
     left: 5px;
     z-index: -10;
   }
 .count::after{
     content: "2";
     position: relative;
     top: -45px;
     left: 10px;
     z-index: 10;
     color: white;
     font-size: small;
 }
 header{
 width: 100%;
 height: 100vh;
 }
 
 header nav{
     display: flex;
     justify-content:center;
     min-height: 55px;
     padding-top: 10px;
     margin-top: 20px;
 }
 
 header nav i{
     padding: 21px 5px;
 }
 
 .logo{
    flex-basis: 422px;
    background-image: url('/assets/header/Group\ 18.jpg');
     background-repeat: no-repeat;
     background-size: 150px 70px;
 }
 
 header nav ul{
     list-style: none;
     display: flex;
     
 }
 header nav ul li {
     padding: 21px 15px;
 }
 
 header nav ul li a{
    text-decoration: none;
    color: #000;
 }
 header nav ul li a select{
    border: none;
    color: #ffbe00;
 }
 header nav ul li:nth-child(n) a{
     padding: 0;
     margin:0;
 }
 header nav ul li:nth-child(1) a{
     color :#ffbe00;
  }

 
 .header-intro{
 display: flex;
 justify-content:center;
 margin-top: 50px;
 }
 .header-intro-left{
 flex-grow: 2; /* default 0 */
 margin-left: 122px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 }
 .header-intro-right{
 margin-right: 122px;
 }
 .header--title{
     font-size: 3.7em;
 }
 .header--title span{
     color:#ffbe00 ;
 }
 .header--paragraph{
     margin-top: 15px;
     max-width: calc(70% - 122px);
     text-align: center;
 }
 .delivery-man{
     background: url('/assets/header/Group 21.jpg') no-repeat;
     background-size: 100% 100%; 
     width: 400px;
     height: 526px;
 }
 
 .header-intro-left .rowb{
 display: flex;
 margin-top: 20px;
 }

 .header-intro-left .rowb .header--btn-1{
 background-color: #ffbe00;
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 margin-right: 25px;
 font-weight: bold;
 }
 .header-intro-left .rowb .header--btn-2{
     background-color: #ffbe00;
     padding: 10px 20px;
     border-radius: 5px;
     border: none;
     font-weight: bold;
 }
 .header-intro-left .rowb input{
     padding-left: 10px;
     border: none;
     background-color: #cecece;
     border-radius: 8px;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
 }
 
 .featured-categories{
 margin-top: 75px;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 height: 100vh;
 background: linear-gradient(180deg, white 50%, #efefef 50%);
 
 }
 .featured-categories--title{
 align-self: flex-start;
 margin-left: 122px;
 }
 .featured-categories--paragraph{
 margin-top: 25px;
 align-self: flex-start;
 max-width: calc(50% - 122px);
 margin-left: 122px;
 margin-bottom: 75px;
 }
 .featured-categories .cat-list{ 
 display: flex;
 justify-content: space-evenly;
 width: 100%;
 /* flex-wrap: wrap; */
 }
 .featured-categories .cat-list .cat-item{
 display: flex;
 justify-content: center;
 width: 100%;
 align-items: flex-end;
 border-radius: 20px;
 /* margin: 0px 5px; */
 }
 .featured-categories .cat-list .cat-item:nth-child(1){
 background: url('/assets/2/kristina-bratko-nP11TkjxJ7s-unsplash.jpg') no-repeat;
 width: 28%;
 height:400px;
 margin-left: 122px;
 }
 .featured-categories .cat-list .cat-item:nth-child(2){
 background: url('/assets/2/pixzolo-photography-3tL4vtrFqTQ-unsplash.jpg') no-repeat;
 width: 28%;
 height:400px;
 margin: 0 30px;
 }
 .featured-categories .cat-list .cat-item:nth-child(3){
 background: url('/assets/2/pixzolo-photography-ZB8NK8cB4EE-unsplash.jpg') no-repeat;
 width: 28%;
 height:400px;
 margin-right: 122px;
 /* margin-right: 137px; */
 }
 
 .featured-categories .cat-list .cat-item .label{
     background-color: #ffbe00;
     width: 70%;
     height: 50px;
     margin-bottom: 100px;
     position: relative;
     border-radius: 12px;
     display: flex;
 }
 .featured-categories .cat-list .cat-item:nth-child(2) .label{
     background-color: #000;
 }
 .featured-categories .cat-list .cat-item:nth-child(2) h3{
 
     color: wheat;
 }
 .featured-categories .cat-list .cat-item .label h3{
 /* background-color: #ffbe00; */
 position: absolute;
 left: 20%;
 top: 50%;
 transform: translate(-20%,-50%);
 }
 .featured-categories .cat-list .cat-item .label img{
 /* background-color: #ffbe00; */
 position: absolute;
 right:2%;
 width: 70px;
 height: 50px;
 border-radius:15px ;
 }
 
 .services{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     background: linear-gradient(180deg, #efefef 50%, white 50%);    
 }
 .services--title{
     align-self: center;
 }
 .services--paragraph{
     margin-top: 25px;
     align-self: center;
     max-width: calc(50% - 122px);
     margin-bottom: 75px;
     text-align: center;
 }
 
 .services .cat-list{ 
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     /* flex-wrap: wrap; */
 }
 
 .services .cat-list .cat-item{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     background-color: #ffbe00;
     width: 28%;
     height:400px;
 }
 
 .services .cat-list .cat-item:nth-child(1){
     margin-left: 122px;
 }
 .services .cat-list .cat-item:nth-child(2){
     background-color: white;
 
     margin: 0 30px;
 }
 .services .cat-list .cat-item:nth-child(3){
     margin-right: 122px;
 }
 
 .services .cat-list .cat-item h3{
     margin-bottom: 25px;
 }
 .services .cat-list .cat-item p{
     max-width: calc(100% - 100px);
 
 }
 
 .white-padding{
 background-color: white;
 padding: 12px;
 border-radius: 9px;
 margin-bottom: 25px;
 margin-top: 25px;
 }
 .services .cat-list .cat-item:nth-child(2) .white-padding{
 border: solid 1px black;
 }
 
 .recipes{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 200vh;
 }
 
 .recipes--title{
     align-self: center;
 }    
 .recipes--paragraph{
     margin-top: 25px;
     align-self: center;
     max-width: calc(50% - 122px);
     margin-bottom: 75px;
     text-align: center;
 }    
 .recipes--nav{
     margin-top: 5px;
     align-self: center;
     max-width: calc(50% - 122px);
     margin-bottom: 75px;
 }
 
 .recipes--nav--list{
     list-style: none;
     display: flex;
     justify-content: space-evenly;
 }
 .recipes--nav--list--item{
     padding: 0 20px;
 }
 .recipes--nav--list--item:nth-child(1)::after{
 content:"";
 width: 0; 
 height: 0; 
 border-left: 8px solid transparent;
 border-right: 8px solid transparent;
 border-bottom: 8px solid #ffbe00;
 position: relative;
 left: -20px;
 top:4px;
 }
 
 .recipes-list{
 display: flex;
 max-width: 100%;
 justify-content: space-evenly;
 margin: 50px 244px;
 }
 
 .recipes-list-card{
 display: flex;
 flex-direction: column;
 }
 .recipes-list-card .recipes-list-card-img{
     border-radius: 12px;
 }
 .recipes-list-card:nth-child(1) .recipes-list-card-img{
 width: 264px;
 margin: 0px 0px;
 margin-right: 5px;
 }
 .recipes-list-card:nth-child(2) .recipes-list-card-img{
 width: 264px;
 margin: 0px 10px;
 }
 .recipes-list-card:nth-child(3) .recipes-list-card-img{
 width: 264px;
 margin: 0px 10px;
 }
 .recipes-list-card:nth-child(4) .recipes-list-card-img{
 width: 264px;
 margin: 0px 0px;
 margin-left: 5px;
 }
 
 .recipes-list-card-details{
 display: flex;
 flex-direction: column;
 padding: 12PX;
 padding-top: 30px;
 }
 
 
 .recipes-list-card-details .rowb{
     display: flex;
     justify-content: space-between;
 }
 
 .recipes-list-card-details .rowb span{
   align-self: flex-end;
   font-size: larger;
   font-weight: bolder;
   padding-right: 5px;
 }
 
 .recipes-list-card-details .rating {
     display: flex;
     justify-content: flex-start;
 }
 .recipes-list-card-details .rating img{
     width: 25px;
     height: 25px;
     padding: 0px 0px;
   }
 .recipes-list-card-details .rating img:nth-child(6){
 margin-left: 88px;
 }
 
 .recipes-list-card:nth-child(2) .recipes-list-card-details .rating  img:nth-child(6),
 .recipes-list-card:nth-child(3) .recipes-list-card-details .rating  img:nth-child(6),
 .recipes-list-card:nth-child(6) .recipes-list-card-details .rating  img:nth-child(6),
 .recipes-list-card:nth-child(7) .recipes-list-card-details .rating  img:nth-child(6)
 {
     margin-left: 102px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .about-us{
     display: flex;
     /* flex-direction: column; */
     /* align-items: center; */
     width: 100%;
     height: 100vh;
     background-color: #0c0320;
     color: white;
 }
 
 .about-us--title{
     margin-bottom: 30px;
 }
 .about-us--paragraph{
     margin-bottom: 90px;
 }
 
 .about-us-left{
     width: 50%;
     display: flex;
     flex-direction: column;
     height: 100vh;
     /* background-color: teal; */
     justify-content: center;
     align-items: center;
     margin-left: 122px;
 }
 
 .about-us-left .background{
     background: url('/assets/4/brooke-lark-nTZOILVZuOg-unsplash.jpg') no-repeat;
     width: 80%;
     height: 300px;
     background-size: cover;
     border-radius: 25px;
 }
 
 .about-us-right{
     width: 50%;
     display: flex;
     flex-direction: column;
     height: 100vh;
     margin-right: 122px;
     justify-content: center;
 }
 
 .about-us-right .rowb{
 display: flex;
 justify-content: space-between;
 }
 .about-us-right .text-center{
 align-self: center;
 color: #ffbe00; 
 margin-top: 33px;
 }
 
 .about-us-right .rowb img:nth-child(2){
     border-radius: 50px;
     height: 180px;
     width: 240px;
     margin-left: 7px;
     margin-right: 7px;
     transform: translateY(-22px);
 }
 .about-us-right .rowb img:nth-child(1),
 .about-us-right .rowb img:nth-child(3)
 {
     border-radius: 50px;
     max-height: 137px;
 }
 
 
 .about-us-right .arrow{
 display: flex;
 justify-content: center;
 margin-top: 10px;
 }
 .about-us-right .right-arrow{
 background: url('/assets/2/Group 23.jpg') no-repeat;
 background-size: cover;
 border-radius: 50px;
 width: 70px;
 height: 50px;
 transform: rotate(180deg);
 opacity: 0.7;
 margin:0px 10px ;
 }
 
 .about-us-right .left-arrow{
 background: url('/assets/2/Group 23.jpg') no-repeat;
 background-size: cover;
 border-radius: 50px;
 margin:0px 10px ;
 
 width: 70px;
 height: 50px;
 }
 
 
 
 .our-chefs{
     padding-top: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     color: white;
     background: linear-gradient(180deg, #0c0320 50%, white 50%);    
 }
 
 .our-chefs--title{
     align-self: center;
 }
 .our-chefs--paragraph{
     margin-top: 25px;
     align-self: center;
     max-width: calc(50% - 122px);
     margin-bottom: 75px;
     text-align: center;
 }
 
 
 .chefs-list{
     display: flex;
     max-width: 100%;
     justify-content: space-evenly;
     margin: 0px 244px;
 }
     
 .chefs-list-card{
 display: flex;
 flex-direction: column;
 position: relative;
 }
 .chefs-list-card .chefs-list-card-img{
     border-radius: 12px;
 }
 .chefs-list-card:nth-child(1) .chefs-list-card-img{
 background: url('/assets/4/1.jpg') no-repeat;
 background-size: cover;
 width: 264px;
 height: 322px;;
 margin: 0px 0px;
 margin-right: 5px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 }
 .chefs-list-card:nth-child(2) .chefs-list-card-img{
 background: url('/assets/4/3(2).jpg') no-repeat;
 background-size: cover;
 width: 264px;
 height: 322px;;
 margin: 0px 10px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 }
 .chefs-list-card:nth-child(3) .chefs-list-card-img{
 background: url('/assets/4/6.jpg') no-repeat;
 background-size: cover;
 width: 264px;
 height: 322px;;
 margin: 0px 10px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 }
 .chefs-list-card:nth-child(4) .chefs-list-card-img{
 background: url('/assets/4/7.jpg') no-repeat;
 background-size: cover;
 height: 322px;
 width: 264px;
 margin: 0px 0px;
 margin-left: 5px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 }
 .chef-name{
     color: tomato;
     margin-bottom: 10px;
     background-color:  #ffbe00; 
     padding: 20px 54px;
     border-radius: 15px;
 } 
 
 
 
 
 .latest-blogs{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     /* color: white; */
 }
 .latest-blogs--title{
 align-self: center;
 }
 .latest-blogs--paragraph{
     margin-top: 25px;
     align-self: center;
     max-width: calc(50% - 122px);
     margin-bottom: 75px;
     text-align: center;
 }
 .blog-cards-list{
 display: flex;
 margin-left: 122px;
 margin-right: 122px;
 }
 
 .blog:nth-child(2){
 margin: 0 40px;
 background: linear-gradient(white 20%, #ffbe00 60%);
 }
 
 .blog:nth-child(1) .blog--header{
 background: url('/assets/5+1/janice-lin-BSuUEDsEMEI-unsplash.jpg');
 }
 .blog:nth-child(2) .blog--header{
     background: url('/assets/5+1/jonathan-borba-Kosh4ZkWqas-unsplash.jpg');
 }
 .blog:nth-child(3) .blog--header{
     background: url('/assets/5+1/jonathan-borba-Botxl_D2Vy4-unsplash.jpg');
 }
 .blog--header{
 background-size: cover;
 height:250px;
 width: 100%;
 border-radius: 25px;
 display: flex;
 justify-content: flex-start;
 align-items: flex-end;
 }
 .blog-date{
     margin-left:25px;
     margin-bottom:25px;
     background-color:  #ffbe00;
     padding: 10px 20px;
     border-radius: 5px;
 }
 .blog:nth-child(2) .blog-date{
     background-color: #000;
     color: white;
 }
 .blog--footer{
     padding-top: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 
 
 .blog-title{
     text-align: center;
 }
 .blog-brief{
 margin-top: 8px;
 text-align: center;
 max-width: calc(90% - 22px);
 }
 .blog-btn{
     background-color: #ffbe00;
     padding: 10px 20px;
     border-radius: 5px;
     border: none;
     margin-right: 25px;
     font-weight: bold;
     align-self: flex-end;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .blog:nth-child(2) .blog-btn{
     background-color: #000;
     padding: 10px 20px;
     border-radius: 5px;
     border: none;
     margin-right: 25px;
     font-weight: bold;
     color: white;
 }
 
 
 
 .footer{
     display: flex;
     width: 100%;
     height: 50vh;
     margin-top: 200px;
 }
 .footer-row{
 display: flex;
 margin-left: 122px;
 margin-right: 122px;
 justify-content: space-evenly;
 }
 .footer-col{
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
 }
 .footer-col ul{
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .footer-col ul li{
     list-style: none;
     margin: 20px 0px;
 }
 
 .footer-col:nth-child(1) {
 align-items: flex-start;
 width: 200%;
 }
 .footer-col:nth-child(1) img{
     width: 70px;
 }
 .footer-col:nth-child(1) p{
     margin-top: 25px;
     align-self: flex-start;
     /* max-width: calc(50% - 122px); */
 }
 
  .social ul  {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 250px;
     margin-top: 35px;
 }
 .subscripe{
     display: flex;
     margin-top: 20px;
 }
 .subscripe .email{
     padding-top:10px;
     padding-bottom:10px;
     padding-left: 10px;
     border: none;
     background-color: #cecece;
     border-radius: 8px;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
 }
 .subscripe .btn{
     background-color: #000;
     font-weight: bold;
     color: white;
     padding: 12px 28px;
     border-radius: 5px;
     border: none;
 }
 